footer{
  width: 100%;
  height: 20vh;
}

.footer {
  margin-top: 80px;
  background-color: #003366;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .f-one {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 50px;
}

.f-one .first-one {
  margin-bottom: 10px;
}

.f-one .first-one a {
  text-decoration: none;
  color: white;
}

.f-one .second-one p {
  color: white;
  font-size: 12px;
}

.f-one .third-one p {
  color: white;
  font-size: 12px;
}

.f-two{
  height: 100%;
  width: fit-content;
  /* background-color: red; */
  display: flex;
  align-items: center;
  padding: 0px 50px 0px 0px;
}

.f-two img{
  height: 100px;
  width: 200px;
  object-fit: contain;
}