@font-face {
  font-family: "open-sans";
  src: url(../fonts/open-sans/OpenSans-Regular.ttf);
  font-family: "open-sans-semibold";
  src: url(../fonts/open-sans/OpenSans-SemiBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 300vh;
  background-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.home-container {
  max-width: 1260px;
  margin: 0 auto;
  margin-top: 50px;
  /* background-color: burlywood; */
  height: 60vh;
}

.home-container .container {
  display: flex;
  gap: 50px;
}

.project-image{
  flex-basis: 50%;
  position: relative;

}
.project-image .image{
  display: flex;
  overflow: hidden;
  background-color: red;
}

.project-image .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-image .arrow{
  position: absolute;
  z-index: 1;
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 50%;
}
.project-image .left-arrow svg{
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.project-image .right-arrow svg{
   height: 30px;
  width: 30px;
  cursor: pointer;
}

.project-image .left-arrow svg path{
  fill: white;
}

.project-image .right-arrow svg path{
  fill: white;
}


.project-container {
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
  justify-content: space-between;
}

.project-name {
  display: flex;
  flex-direction: row;
  /* background-color: skyblue; */
  justify-content: space-between;
  height: 45%;
  padding: 20px 25px 20px 25px;
  color: white;
  background-image: url("../images/mountain-3.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgb(0, 51, 102, 0.3);
}

.project-name1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 45%;
  padding: 20px 25px 20px 25px;
  color: white;
  background-image: url("../images/mountain-3.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgb(0, 51, 102, 0.3);
}

.project-list ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-list ul li {
  list-style-type: none;
  font-family: system-ui;
  font-weight: 400;
}
.update-container {
  margin-top: 50px;
  background-color: #f3f3f3;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-x: hidden;
}
.update {
  max-width: 1260px;
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
}

.board-container {
  /* background-color: red; */
  margin-top: 50px;
}
.heading h1 {
  text-align: center;
  font-size: 35px;
  color: #003366;
  font-family: Helvetica, sans-serif;
}
.project {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
.project .blink {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  /* background: linear-gradient(to right, #911a80, #d42b45); */
  /* background-clip: text; */
  /* color: transparent; */
}

.project .one {
  position: relative;
  font-size: 16px;
  animation-name: blink-one;
  /* left: 10%; */
  animation-duration:  4s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* background-color: red; */
  width: fit-content;
}

.project .two {
  position: relative;
  font-size: 16px;
  animation-name: blink-two;
  animation-duration: 4.5s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.project .three {
  position: relative;
  font-size: 16px;
  animation-name: blink-three;
  animation-duration: 3.5s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink-one {
  from {
    left: 25%;
  }

  to {
    left: 0%;
  }
}

@keyframes blink-two {
  from {
    left: -10%;
  }

  to {
    left: 15%;
  }
}

@keyframes blink-three {

  from{
    left: 15%;
  }

  to{
    left: -10%;
  }
  
}

.project .blink span a {
  text-decoration: none;
}

.project .blink span a:hover {
  color: red;
}


/* end upadat section */



.card-section {
  margin-top: 50px;
  display: flex;
  gap: 80px;
  justify-content: center;
}

.card-section .profile {
  /* background-color: #fff; */
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  gap: 20px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.301);
}

.card-section .profile img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.profile .member-detail h4 {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

.profile .member-detail p {
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  padding-bottom: 20px;
}

/* start trademark section */

.trademark {
  margin-top: 80px;
}

.trademark .trad-head h2 {
  font-size: 35px;
  color: #003366;
  text-align: center;
}

.trademark .trad-para .para-head {
  max-width: 1000px;
  /* background-color: red; */
  line-height: 24px;
  letter-spacing: 0.8px;
  margin: auto;
  font-size: 17px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.accordian {
  /* background-color: blanchedalmond; */
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px 16px 10px 16px;
  margin-top:  26px;
  /* box-shadow: 1px 1px 4px 0 black; */
  border: transparent;
  border-bottom: 1px solid #003366;
}

.question{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  cursor: pointer;
}

.question .icon{
  font-size: 25px;
  color: #003366;
  margin-right: 15px;
  transition: transform 0.4s;
}

.accordian .question h3 {
  font-size: 25px;
  color: #003366;
}

.accordian .answer{
  max-width: 1160px;
  /* background-color: red; */
  line-height: 23px;
  letter-spacing: 0.8px;
  margin: auto;
  font-size: 17px;
  margin-top: 20px;
  text-align: justify;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s;
}

.icon.active{
  transform: rotate(180deg);
}
