@media (max-width: 768px) {
  header {
    height: 10vh;
    /* display: none; */
  }

  .logo {
    margin-left: -30px;
  }
  .logo img {
    width: 120px;
    object-fit: contain;
  }

  .quicklinks {
    margin-left: -50px;
    gap: 0px;
  }

  .quicklinks a {
    width: 80px !important;
    /* background-color: pink; */
  }

  .quicklinks a span {
    font-size: 14px;
  }

  .email p {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .quicklinks {
    display: none;
  }

  .email {
    margin-left: -20px;
  }

  .menu {
    display: block;
    margin-left: -140px;
  }

  .menu i {
    font-weight: 400;
  }

  .popup {
    display: block;
    height: 100vh;
    width: 50%;
    background-color: whitesmoke;
    position: absolute;
    z-index: 8;
    transition: 0.25s linear;
    top: 0%;
    right: 0%;
  }

  .popup ul {
    margin-top: 20%;
    padding: 20px 40px;
    right: 0%;
    position: absolute;
  }

  .popup ul li {
    list-style-type: none;
    margin-top: 10px;
    text-align: right;
  }

  .popup ul li a {
    text-decoration: none;
    color: #003366;
    transition: 0.25s linear;
  }

  .popup ul li a:hover {
    color: #003366ad;
    text-decoration: underline;
  }
}
