{% extends "base.html" %} {% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/about.css'  %}">
<link rel="stylesheet" href="{% static 'responsive/about.css'  %}">
{% endblock %}

{% block content %}
<div class="parent">
    <div class="first-child">
        <div class="detail">
            <div class="head">
                <h3>Controller General of Patents, Designs, and Trade
                    Marks</h3>
            </div>
            <div class="para">
                <p>The Office of the Controller General of Patents,
                    Designs & Trade Marks (CGPDTM) is located at Mumbai.
                    The Head Office of the Patent office is at Kolkata
                    and its Branch offices are located at Chennai, New
                    Delhi and Mumbai. The Trade Marks registry is at
                    Mumbai and its Branches are located in Kolkata,
                    Chennai, Ahmedabad and New Delhi. The Design Office
                    is located at Kolkata in the Patent Office. The
                    Offices of The Patent Information System (PIS) and
                    National Institute of Intellectual Property
                    Management (NIIPM) are at Nagpur. The Controller
                    General supervises the working of the Patents Act,
                    1970, as amended, the Designs Act, 2000 and the
                    Trade Marks Act, 1999 and also renders advice to the
                    Government on matters relating to these subjects. In
                    order to protect the Geographical Indications of
                    goods a Geographical Indications Registry has been
                    established in Chennai to administer the
                    Geographical Indications of Goods (Registrationand
                    Protection) Act, 1999 under the CGPDTM.</p>
            </div>
        </div>

        <div class="icons">
            <div class="icon">{% include 'icons/page-facing-up-svgrepo-com.svg' %}
                <h4>Patent</h4>
            </div>


            <div class="icon">{% include 'icons/computer-profit-technology-svgrepo-com.svg' %}
                <h4>Designs</h4>
            </div>


            <div class="icon">{% include 'icons/trademark-svgrepo-com.svg' %}
                <h4>Trade Mark</h4>
            </div>
        </div>

        <div class="certificate">
            <div class="cert-text">
                <h1>How To Download Your Certificate</h1>
            </div>

            <div class="certificate-container">
                <div class="icert">
                    <div class="certIcon">
                        <div class="insert">
                            {% include 'icons/certificate-2.svg' %}
                            <p>Go to certificate menu</p>
                        </div>
                    </div>
                </div>
                <div class="icert">
                    <div class="certIcon">
                        <div class="insert">
                            {% include 'icons/select_brand.svg' %}
                            <p>Select Your Brand Name</p>
                        </div>
                    </div>
                </div>
                <div class="icert">
                    <div class="certIcon">
                        <div class="insert">
                            {% include 'icons/password_icon.svg' %}
                            <p>Put Your Login-id & Password</p>
                        </div>
                    </div>
                </div>
                <div class="icert">
                    <div class="certIcon">
                        <div class="insert">
                            {% include 'icons/download-3.svg' %}
                            <p>Download Your Certificate</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}