{% extends "base.html" %} {% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/certificate.css' %}">
{% endblock %}

{% block content %}
<div class="certificate">
    <div class="certificate-heading">
        <h3>Download Your Certificate</h3>
    </div>

    <div class="search-icon">
        <input id="search" type="text" placeholder="Search pdf name">
        <i id="search-icon" class="ri-search-line"></i>
    </div>

    <div class="certificate-table">

        <table>
            <thead>
                <th>Sr. no.</th>
                <th>File Name</th>
                <th>Download</th>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>Achievements by Office of CGPDTM</td>
                    <td><a id="anchor" href="#">{% include 'icons/pdf1.svg' %}</a></td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Achievements by Office of CGPDTM</td>
                    <td><a id="anchor" href="#">{% include 'icons/pdf1.svg' %}</a></td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>Achievements by Office of CGPDTM</td>
                    <td><a id="anchor" href="#">{% include 'icons/pdf1.svg' %}</a></td>
                </tr>

                <tr>
                    <td>4</td>
                    <td>Achievements by Office of CGPDTM</td>
                    <td><a id="anchor" href="#">{% include 'icons/pdf1.svg' %}</a></td>
                </tr>

                <tr>
                    <td>5</td>
                    <td>Achievements by Office of CGPDTM</td>
                    <td><a id="anchor" href="#">{% include 'icons/pdf1.svg' %}</a></td>
                </tr>
            </tbody>

        </table>

        <table>
            <thead>
                <th>Sr. no.</th>
                <th>File Name</th>
                <th>Download</th>
            </thead>

            <tbody>
                <tr>
                    <td>6</td>
                    <td>Achievements by Office of CGPDTM</td>
                    <td><a id="anchor" href="#">{% include 'icons/pdf1.svg' %}</a></td>
                </tr>

                <tr>
                    <td>7</td>
                    <td>Achievements by Office of CGPDTM</td>
                    <td><a id="anchor" href="#">{% include 'icons/pdf1.svg' %}</a></td>
                </tr>

                <tr>
                    <td>8</td>
                    <td>Achievements by Office of CGPDTM</td>
                    <td><a id="anchor" href="#">{% include 'icons/pdf1.svg' %}</a></td>
                </tr>

                <tr>
                    <td>9</td>
                    <td>Achievements by Office of CGPDTM</td>
                    <td><a id="anchor" href="#">{% include 'icons/pdf1.svg' %}</a></td>
                </tr>

                <tr>
                    <td>10</td>
                    <td>Achievements by Office of CGPDTM</td>
                    <td><a id="anchor" href="#">{% include 'icons/pdf1.svg' %}</a></td>
                </tr>
            </tbody>

        </table>

    </div>

    <div class="important">
        <div class="english">
            <h3>Note :- </h3>
            <p>These pdf are available for 2 month. Please save in your device.</p>
        </div>

        <div class="hindi">
            <h3>सूचना :- </h3>
            <p>ये पीडीएफ़ 2 महीने के लिए उपलब्ध हैं। कृपया इन्हें अपने डिवाइस में सेव करें।</p>
        </div>
    </div>

    <div class="form" id="form">
        <div class="form-heading">
            <img src="../static/images/android-chrome-512x512.png" alt="">
            <h2>Download PDF</h2>
            <p>Simply fill out this form</p>
            <span id="cross">
                {% include 'icons/cross.svg' %}
            </span>
        </div>
        <form action="">
            <input onblur="validation(this)" oninput="validation(this)" type="text" placeholder="Enter Your Name">
            <small class="alert">This field is required*</small>

            <input onblur="validation(this)" oninput="validation(this)" type="number" placeholder="Enter Phone Number">
            <small class="alert">This field is required*</small>

            <input onblur="validation(this)" oninput="validation(this)" type="text" placeholder="Enter Your Id">
            <small class="alert">This field is required*</small>

            <input onblur="validation(this)" oninput="validation(this)" type="text" placeholder="Enter Your Password">
            <small class="alert">This field is required*</small>
            <button>Submit</button>
        </form>
    </div>
</div>
<script src="{% static 'js/certificate.js' %}"></script>
{% endblock %}