{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <title>Document</title>
</head>
<body>
    <footer>
      <div class="footer">
        <div class="f-one">
          <div class="first-one">
            <a href="/">Home |</a>
            <a href="/about-us/">About us |</a>
            <a href="/certificate/">Certificate</a>
          </div>
          <div class="second-one">
            <p>Content Owned, updated and maintained by Intellectual Property India, All Rights Reserved.</p>
          </div>
          <div class="third-one">
            <p>Web Information manager</p>
          </div>
        </div>
        
        <div class="f-two">
          <a href="/"><img src="/static/images/logo.png" alt=""></a>
        </div>
        </div>
    </footer>
</body>
</html>