{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'responsive/header.css' %}">
</head>
<body>
    <header>
        <div class="logo">
           <a href="/">
             <img src="{% static 'images/logo.png' %}" alt="">
           </a>
        </div>

        <div class="quicklinks">
            <a href="/">
                <span>Home</span>
            </a>
            &nbsp;
            <a href="/about-us/">
                <span> About-us</span>
            </a>
            &nbsp;
            <a href="/certificate/">
                <span> Certificate</span>
            </a>
        </div>

        <div class="email">
           <p>info@gmail.com</p>
        </div>

        <div class="menu" id="menu">
            <i class="ri-menu-line"></i>
        </div>

    </header>

    <div class="popup" id="popup">

    </div>

<script src="{% static 'js/header.js' %}"></script>

</body>
</html>