{% extends "base.html" %} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
  <section class="home-container">
    <div class="container">
      <div class="project-image">
        <img src="../static/images/mountain-3.jpg" alt="" />
      </div>
      <div class="project-container">
        <div class="project-name">
          <div class="project-list">
            <ul>
              <li>Copyright Office</li>
              <li>Copyright Office</li>
              <li>Copyright Office</li>
              <li>Copyright Office</li>
            </ul>
          </div>
          <div class="project-list">
            <ul>
              <li>Copyright Office</li>
              <li>Copyright Office</li>
              <li>Copyright Office</li>
              <li>Copyright Office</li>
            </ul>
          </div>
        </div>
        <div class="project-name1">
          <div class="project-list">
            <ul>
              <li>International cooperation</li>
              <li>International cooperation</li>
              <li>International cooperation</li>
              <li>International cooperation</li>
            </ul>
          </div>
          <div class="project-list">
            <ul>
              <li>Copyright Office</li>
              <li>Copyright Office</li>
              <li>Copyright Office</li>
              <li>Copyright Office</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="update-container">
    <div class="update">
      <div class="heading">
        <h1>New Updates</h1>
      </div>
      <div class="project">
        <div class="">
          <span>
            RRB NTPC Graduate Level Admit Card 2025 || DRDO RAC Scientist B Recruitment 2025 ||
            Railway RRB Technician Recruitment 2025
          </span>
        </div>
        <div class="">
          <span>
            RRB NTPC Graduate Level Admit Card 2025 || DRDO RAC Scientist B Recruitment 2025 ||
            Railway RRB Technician Recruitment 2025
          </span>
        </div>
        <div class="">
          <span>
            RRB NTPC Graduate Level Admit Card 2025 || DRDO RAC Scientist B Recruitment 2025 ||
            Railway RRB Technician Recruitment 2025
          </span>
        </div>
      </div>
    </div>
  </section>
  <section class="board-container">
    <div class="heading">
      <h1>Legal Board Member</h1>
    </div>

    <div class="card-section">
      <div class="profile">
        <img src="../static/images/ai-generated-medium.png" alt="">
        <div class="member-detail">
          <h4>Name</h4>
          <p>Paragraph</p>
        </div>
      </div>
      <div class="profile">
        <img src="../static/images/ai-generated-medium.png" alt="">
        <div class="member-detail">
          <h4>Name</h4>
          <p>Paragraph</p>
        </div>
      </div>
      <div class="profile">
        <img src="../static/images/ai-generated-medium.png" alt="">
        <div class="member-detail">
          <h4>Name</h4>
          <p>Paragraph</p>
        </div>
      </div>
    </div>
  </section>



  <section class="trademark">

    <div class="trad-head">
      <h2>All business class information</h2>
    </div>

    <div class="trad-para">
      <div class="para-head">
        <p>Protecting your brand and intellectual property is essential for long-term business success. One critical
          step in this process is conducting a thorough trademark class search. Trademarks are valuable business assets
          that provide legal protection and grant exclusive rights over your brand name, logo, or slogan. Understanding
          trademark classifications and conducting a proper trademark category analysis are key to successful trademark
          registration and enforcement.</p>
      </div>
    </div>
  </section>
  <script src="{% static 'js/index.js' %}"></script>
</body>

</html>
{% endblock content %}